---
import Github from "../components/icons/Github.astro";
import LinkJob from "../components/icons/LinkJob.astro";

interface Props {
    badges:       string[];
    linkProject:  string;
    imageProject: string;
    titleProject: string;
    linkGithub:   string;
}
const {linkProject}  = Astro.props;
const {imageProject} = Astro.props;
const {titleProject} = Astro.props;
const {badges}       = Astro.props;
const {linkGithub}   = Astro.props;

const tags: Record<string, {name:string,class?:string}> = {
    Laravel: {
        name:"Laravel",
        // class:"bg-red-800"
    },
    HTML: {
        name:"HTML",
        // class:"bg-[#e34c26]/20"
    },
    CSS: {
        name:"CSS",
        // class:"bg-[#264de4]/20"
    }
}

---
<div class="relative w-full group overflow-hidden rounded-xl">
    <a href={linkProject} target="_blank">
        <img src={imageProject} alt="img-proyect" class="w-full h-auto rounded-xl center transition-transform duration-300 group-hover:scale-110">
        <div class="absolute bottom-0 left-0 right-0 h-[100%] content-end opacity-100 bg-gradient-to-t from-black/70 to-transparent group-hover:bg-gradient-to-t group-hover:from-black/80 group-hover:to-transparent transition-all md:opacity-0 group-hover:opacity-100 duration-300 px-5">
          <div class="relative -translate-y-4 md:-translate-y-0 md:group-hover:-translate-y-4 transition-transform duration-500 ease-in-out will-change-transform text-white">
            <div class="flex flex-row items-center mb-2 gap-2">
                <h2 class="text-2xl font-bold">{titleProject}</h2>
                <LinkJob class="size-4" />
            </div>
            <p class="text-base mb-4"><slot /></p>
                <div class="flex text-xs gap-2">
                    {badges.map((badge) => {
                        const icon = tags[badge]; //Accede al tag con el nombre asociado
                        return (
                            <span class={`rounded-xl py-1 px-2 ${icon?.class ?? 'bg-gray-400/20'}`}> {icon?.name ?? 'Badge'}</span> // Es inportante usar ? para acceder a la propiedad de icon
                        )
                    })}
                </div>
          </div>
        </div>
    </a>
    <div class="absolute bottom-0 right-0 size-fit duration-500 opacity-100 md:opacity-0 group-hover:opacity-100 p-5">
        <a href={linkGithub} target="_blank"><Github class="size-5 fill-white"></Github></a>
    </div>
</div>
